
    <div class="container-fluid full-height">
        <div class="center">
            <p id="errorAlert"></p>
        </div>
        <div class="row align-items-center full-height">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="center">
                    <a routerLink='/' class="backArrow" style="color:gray">
                        <fa-icon [icon]="faArrowCircleLeft"></fa-icon>
                    </a>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
                    <h2 class="center">Login Account</h2>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label><span class="mandatory">*</span>
                        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                        <small *ngIf="loginForm.get('email')?.dirty && loginForm.get('email')?.invalid" class="form-text text-danger">Please enter a valid email</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label><span class="mandatory">*</span>
                        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        <small *ngIf="loginForm.get('password')?.dirty && loginForm.get('password')?.invalid" class="form-text text-danger">Please enter a valid password(Min length=6)</small>
                    </div>
                    <div class="center">
                        <button type="submit" [disabled]="!loginForm.valid" class="btn btn-info btn-block">Login</button>
                        <p>Do not have an account? <a routerLink='/register'>Register</a></p>
                    </div>
                </form>
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>