    <div class="container center full-height">
      <div class="row align-items-center full-height">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 id="heading">Welcome to</h3>
            <h1 class="text-info">CONTACT DETAILS APPLICATION</h1>
            <p class="text-secondary">This application is used to maintain the contact details of a registered user.</p>
            <button type="button" class="btn btn-outline-info btn-lg welcomeButton" routerLink='/register'>Register</button>
            &nbsp;
            &nbsp;
            <button type="button" class="btn btn-outline-info btn-lg welcomeButton" routerLink='/login'>Login</button>
        </div>
        <div class="col-sm-2"></div>
      </div>
    </div>    